<!-- Main heading for the website, styled with background color, padding, and centered text -->
<h1 class=""> The Tech Blog </h1>

<nav>
  <input type="hidden" id="bookID" name="bookId" value="{{dashboard}}" />
  <a href="/homepage" role="button" class="">Homepage</a>

  <input type="hidden" id="bookID" name="bookId" value="{{dashboard}}" />
  <a href="/Dashboard" role="button" class="">Dashboard</a>

  <input type="hidden" id="bookID" name="bookId" value="{{dashboard}}" />
  <a href="/Logout" role="button" class="">Logout</a>

</nav>